* {
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    width: 100%;
}

.main {
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}

.top{
    flex-basis: 100%;
    margin: auto;
    height: 240px;
    text-align: center;

}

.top_p_01{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    letter-spacing: 0.44em;
    font-size: 18px;
    margin-top: 30px;
}

.top_p_02{
    font-size: 110px;
    margin: 30px auto;
    font-weight: bolder;
}

.nav {
    flex-basis: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 40px;
    text-align: center;

}

.nav_00 {
    flex-basis: 10%;
}

.nav_01 {
    flex-basis: 10%;
    line-height: 40px;
    border-left: 1px solid black;
    color: rgb(131, 131, 131);
    font-size: 12px;
    
}

#nav_07 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav_07>a{
    height: 22px;
}

#nav_08 {
    border-left: 1px solid black;
}

input {
    width: 60%;
    border: 0px;
}

#nav_search:hover {
    color: rgb(78, 78, 78);
    text-decoration: underline;
}

.content01 {
    width: 100%;
    border-bottom: 1px solid black;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.con01_con {
    border: 1px solid black;
    width: 750px;
    overflow: hidden;

}

.con01_header{
    border: 1px solid black;
    padding: 15px 40px;
    position: relative;
    left: -213px;
    top: 20px;
    background-color: white;
    font-size: 18px;
    letter-spacing: 7px;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}

.con01_con_par {
    margin: 40px ;
}

.con01_con_pra01 {
    font-size: 12px;
    letter-spacing: 1px;
    color: gray;
}
.con01_con_pra02>a {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    
}
.con01_con_pra03 {
    font-size: 14px;
    letter-spacing: 2px;
}

.con01_con_parG:hover {
    color: #6600EA;
}

.con01_con_pra02>a:hover {
    color: #6600EA;
}